<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.epfl.sweng.radin"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name=".AppOppeningActivity"
            android:label="@string/title_activity_app_oppnenig"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ContactsActivity"
            android:label="@string/contacts"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/home_title"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MyRadinGroupsActivity"
            android:label="@string/my_radingroups"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NotificationsActivity"
            android:label="@string/notifications"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".OverviewActivity"
            android:label="@string/overview"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/profile"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RadinGroupViewActivity"
            android:label="@string/radingroup_view"
            android:parentActivityName=".MyRadinGroupsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NewRadinGroupActivity"
            android:label="@string/new_radingroup"
            android:parentActivityName=".MyRadinGroupsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RadinGroupBalanceActivity"
            android:label="@string/title_activity_radingroup_balance"
            android:parentActivityName=".MyRadinGroupsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RadinGroupStatsActivity"
            android:label="@string/title_activity_radingroup_stats"
            android:parentActivityName=".MyRadinGroupsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RadinGroupAddExpenseActivity"
            android:label="@string/title_activity_radingroup_add_expense"
            android:parentActivityName=".MyRadinGroupsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".RadinGroupConfigurationActivity"
            android:label="@string/title_activity_radingroup_configuration"
            android:parentActivityName=".MyRadinGroupsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NotificationSettingsActivity"
            android:label="@string/title_activity_notification_settings"
            android:parentActivityName=".MyListsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DatabaseRadinGroupTableActivity"
            android:label="@string/title_activity_database_radin_group_table"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ProfileChange"
            android:label="@string/title_activity_profile_change"
            android:parentActivityName=".ProfileActivity" >
        </activity>
    </application>

</manifest>